Repository UnBArqDsw2021-1/2021.1_G7_Mychine_App, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, back-end

Remove lib Magik
  .eslintrc.json
  package.json
Labels: none

Adicionado input de senha no login
  src/components/FormFields/Input/styles.tsx
  src/components/Login/index.tsx
  src/components/Login/styles.tsx
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.tsx
  src/templates/Auth/styles.tsx
Labels: enhancement

Refatorado endpoint de autenticaçao
  .eslintrc.json
  src/pages/api/account/create.ts
  src/pages/api/address/get.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/auth/login.ts
  src/pages/api/user/create.ts
  src/pages/api/user/get.ts
Labels: enhancement, back-end

Criando filtros de pesquisa de produtos
  src/pages/api/product/getAll.ts
Labels: enhancement, back-end

Criando filtros de pesquisa de produtos
  src/pages/api/product/getAll.ts
Labels: enhancement, back-end

:art: Adicionando seeds para o bd e melhorando o README.md
  README.md
  prisma/seedData.ts
Labels: none

Criado pagina de cadastro
  docker-compose.yml
  src/UI/images/darken.tsx
  src/components/Button/index.tsx
  src/components/Navbar/index.tsx
  src/components/Signin/index.tsx
  src/components/Signin/styles.tsx
  src/components/Signup/index.tsx
  src/components/Signup/styles.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/auth/login.ts
  src/pages/api/user/create.ts
  src/pages/registro.tsx
  src/templates/Auth/styles.tsx
  yarn.lock
Labels: enhancement, back-end

Modificando criação de usuário
  src/components/Signup/index.tsx
  src/controllers/userController.ts
  src/pages/api/user/create.ts
Labels: enhancement, back-end

.github/labeler.yml:

enhancement:
  - "src/**/*"

front-end:
  - any: ["src/**/*"]
    all: ["!src/pages/api/*", "!src/controllers/*", "!src/models/*"]

back-end:
  - "src/pages/api/**/*"
  - "src/models/**/*"
  - "src/controllers/**/*"
