Repository UnBArqDsw2021-1/2021.1_G7_Mychine_App, pull requests merged in 2021-10, with the labels that each got.

#28 Construindo controllers
  package-lock.json
  prisma/schema.prisma
  src/controllers/addressController.ts
  src/controllers/baseController.ts
  src/controllers/categoryController.ts
  src/controllers/productController.ts
  src/controllers/rentController.ts
  src/controllers/userController.ts
  src/models/Address.ts
  src/models/Category.ts
  src/models/Product.ts
  src/pages/api/address/get.ts
Labels: enhancement, back-end, hacktoberfest

#30 Seeding db
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  prisma/seedData.ts
  yarn.lock
Labels: hacktoberfest

#31 :memo: Atualizando o README.md
  README.md
Labels: documentation, invalid, hacktoberfest

#32 :rocket: Alterando configuracoes do deploy
  package.json
Labels: hacktoberfest, deploy

#29 Us01 Alterando esquema de autenticação e adicionando criação de usuário
  .eslintrc.json
  package.json
  prisma/database.ts
  src/components/FormFields/Input/styles.tsx
  src/components/Login/index.tsx
  src/components/Login/styles.tsx
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.tsx
  src/controllers/userController.ts
  src/models/User.ts
  src/pages/api/account/create.ts
  src/pages/api/address/get.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/auth/login.ts
  src/pages/api/user/create.ts
  src/pages/api/user/get.ts
  src/templates/Auth/styles.tsx
  tsconfig.json
Labels: enhancement, back-end, hacktoberfest

#35 Criando filtros de pesquisa de produtos
  src/pages/api/product/getAll.ts
Labels: enhancement, front-end, back-end

#36 Adicionando seeds para o bd e melhorando o README.md
  README.md
  prisma/seedData.ts
Labels: hacktoberfest, deploy, hacktoberfest-accepted
