Repository UnBArqDsw2021-1/2021.1_G7_Mychine_App, pull requests merged in 2021-09, with the labels that each got.

#1 Database connection
  .gitignore
  package.json
  prisma/schema.prisma
  src/pages/api/hello.ts
  src/pages/api/user/create.ts
  src/pages/api/user/get.ts
  yarn.lock
Labels: enhancement

#7 Pagina de cadastro
  .eslintrc.json
  .github/workflows/main.yml
  package.json
  src/UI/animations/pageTransitions.tsx
  src/UI/images/blur.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.tsx
  src/components/Form/index.tsx
  src/components/FormFields/Input/index.tsx
  src/components/FormFields/Input/styles.tsx
  src/components/Hero/index.tsx
  src/components/Loader/index.tsx
  src/components/Loader/styles.tsx
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.tsx
  src/components/ProductCard/index.tsx
  src/components/SearchBar/index.tsx
  src/components/Signup/index.tsx
  src/components/Signup/styles.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/user/create.ts
  src/pages/api/user/get.ts
  src/pages/cadastro.tsx
  src/pages/index.tsx
  src/pages/register.tsx
  src/styles/global.tsx
  src/styles/theme.tsx
  src/templates/Auth/index.tsx
  src/templates/Auth/styles.tsx
  tsconfig.json
  yarn.lock
Labels: enhancement, front-end

#24 Adicionado Autentificação
  .env.development
  .github/labeler.yml
  .github/workflows/label.yml
  .gitignore
  .vscode/extensions.json
  package.json
  public/img/loginHero.jpg
  src/UI/images/blur.tsx
  src/components/Hero/styles.tsx
  src/components/Login/index.tsx
  src/components/Login/styles.tsx
  src/components/Navbar/index.tsx
  src/components/Signup/index.tsx
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/cadastro.tsx
  src/pages/login.tsx
  src/templates/Auth/index.tsx
  src/templates/Auth/styles.tsx
  yarn.lock
Labels: enhancement, front-end, back-end, Alta

#25 Adicionando controllers, models e refatorando rotas
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierrc
  .vscode/settings.json
  README.md
  docker-compose.yml
  docker/.dockerignore
  docker/Dockerfile
  docker/database-config.sh
  package-lock.json
  package.json
  src/UI/animations/hover.tsx
  src/UI/animations/index.tsx
  src/UI/animations/ripple.tsx
  src/UI/images/blur.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.tsx
  src/components/Footer/index.tsx
  src/components/Footer/styles.tsx
  src/components/Form/index.tsx
  src/components/FormFields/Input/index.tsx
  src/components/FormFields/Input/styles.tsx
  src/components/Hero/index.tsx
  src/components/Hero/styles.tsx
  src/components/Loader/index.tsx
  src/components/Loader/styles.tsx
  src/components/Login/index.tsx
  src/components/Login/styles.tsx
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.tsx
  src/components/ProductCard/index.tsx
  src/components/ProductCard/styles.tsx
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.tsx
  src/controllers/baseController.ts
  src/controllers/userController.ts
  src/models/Address.ts
  src/models/User.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/user/create.ts
  src/pages/api/user/get.ts
  src/pages/index.tsx
  src/pages/login.tsx
  src/styles/global.tsx
  src/styles/theme.tsx
  src/templates/Auth/index.tsx
  src/templates/Auth/styles.tsx
  src/templates/Base/index.tsx
  src/templates/Base/styles.tsx
  src/types/styled.d.ts
  tsconfig.json
  yarn.lock
Labels: enhancement, back-end
